img {
    height: 200px;
    width: 200px;
}
 
*{
    background-color: gold;
}

.color-title {
font-weight: normal;
}

#red {
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#yellow{
    color: yellow;
}

#green {
   color:green;
}


    

